- body {
  font-size: 12pt;
  color: #293a46;
}

dd {
  margin-bottom: 10px;
}

/* Disable Bootstrap rounded corners on buttons and form elements */
.form-control, .btn {
  border-radius: 3px;
}

.brand-image {
  margin-top: -10px;
}

/* Custom Theme for NavBar */
nav.navbar {
  color: rgb(255, 255, 255);
  border-radius: 0;
  background-color: #3097d1;
  border: 1px solid transparent;
  border-color: #1c73a5;
  border-width: 0 0 1px;
  margin: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #293a46;
}

.navbar-default .navbar-toggle {
  border-color: #293a46;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3F7BA5;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #293a46;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #267AA9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgb(255, 255, 255);
  }
}

.skills-list {
  max-width: 50%;
}

.hero-image {
  width: 100%;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #ffffff;
}
.welcome-banner {
  position: relative;
}

.welcome-box {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 10%;
  background-color: rgba(0,0,0,0.3);
  padding: 15px;
  color: #ffffff;
  font-size: 20pt;
  max-width: 30%;
  min-width: 235px;
}

.header {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: bottom;
  margin-bottom: 10px;
  height: 300px;
}

.locations-header {
  background-image: url('../img/downtown-SLC-night.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  height: 300px;
    
}

.footer {
  margin-top: 40px;
  padding: 20px;
  color: #efefef;
  background-color: #777777;
}

.footer a {
  color: #73B0D2;
}

iframe {
  background-color: #3097d1;
  border: 1px solid #cdcdcd;
}

/* Social Icons */
.social-icons {
  font-size: 22px;
}

.social-icons a,
.social-icons a:hover,
.social-icons a:active {
  text-decoration: none;
  font-weight: bolder;
}

.facebook {color: #6597CC;}
.gplus {color: #a32929;}
.instagram {color: #d5b120;}
.facebook:hover, .gplus:hover, .instagram:hover {color: #cdcdcd;}

/* Make navbar collapse earlier to handle iPads */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
