<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <h3>Painter Bros</h3>
        <h5>
          An
          <a href="http://allamericantradework.com">All American Trade Work</a>
          company
        </h5>
        <address>
          <abbr title="Phone">P:</abbr> <a href="tel:801-995-2513">(801) 995-2513</a>
        </address>
        <div class="social-icons">
          <a target="_blank" href="https://www.facebook.com/yourpainterz/" title="Facebook Link">
            <i class="icon-social-facebook facebook"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/painter_bros_utah/" title="Instagram Link">
            <i class="icon-social-instagram instagram"></i>
          </a>
          <a target="_blank" href="https://plus.google.com/111798572019874906583" title="Google+ Link">
            <i class="icon-social-gplus gplus"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Hours</h3>
        Mon - Fri: 7:00 AM - 8:00 PM
        <br>
        Weekends:  By appointment
      </div>
      <div class="col-md-offset-2 col-md-8">
        <hr>
        &copy; Painter Bros. All rights reserved.
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
